.carousel-caption {
    color: black;
        
        /*top: auto;*/
      top: 50%;
      transform: translateY(-50%);
      bottom: initial;
    }
    
    .center{
        right: 20%;
        text-align: center;
        width: 60%;
        left: 20%;
    }
    
    .left {
            color: white;
            text-align: center;
            width: 25%;
            left: 8%;
            /*top: auto;*/
    
        }
    
        .right {
                color: white;
                left: 67%;
                text-align: center;
                width: 25%;
    
    
            }
    
        .top {
            top:20%;
            right: 40%;
        text-align: center;
        width: 20%;
        left: 45%;
        }
    
        td{
            padding:15px;
        }
    
        table{
            text-align: left;
        }